<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <title>Success reset user page</title>
    <script src="/js/navigation.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="logB">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto" id="navbarHome">
                <li class="nav-item active">
                    <a class="nav-link" href="/" th:text="#{nav.home}"></a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto" id="navbarRegistration">
                <li class="nav-item active">
                    <a class="nav-link" href="/registration" th:text="#{nav.create-new-account}"></a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto" id="navbarOrder">
                <li class="nav-item active">
                    <a class="nav-link" href="/order" th:text="#{nav.order}"></a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto" id="navbarProduct">
                <li class="nav-item active">
                    <a class="nav-link" href="/new-product" th:text="#{nav.add-product}"></a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto" id="navbarLogin">
                <li class="nav-item active">
                    <a class="nav-link" href="/login" th:text="#{nav.login}"></a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto" id="navbarLogout">
                <li class="nav-item active">
                    <a class="nav-link" href="/logout" th:text="#{nav.logout}"> </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <p th:text="#{text.success-reset-account-next-step}"></p>
</div>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>