<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <h4><b th:text="#{text.hello}">Hello,</b> <b th:text="${token.user.firstName}"></b></h4>
    <p th:text="#{text.forgot-confirm-registration}">You forgot confirm account on our site.</p>
    <p><b th:text="#{text.confirm-link-work}">Your confirm link work to</b> <b th:text="${date}"></b></p>

</div>
<div>
    <p th:text="#{text.click-on-confirm-link}"></p>
</div>
<div>
    <p><a th:href=" ${tokenUrl}" th:text="#{text.confirm-link}"></a></p>
</div>

</body>
</html>