<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <title>Orders</title>
    <script src="/js/navigation.js"></script>
    <script src="/js/products.js"></script>
    <script src="/js/orders.js"></script>
    <script src="/js/product-pagination.js"></script>
    <script th:inline="javascript">
        var buttonNext = [[#{button.next}]];
        var buttonPrevious = [[#{button.previous}]];
        var buttonFirst = [[#{button.first}]];
        var buttonLast = [[#{button.last}]];
    </script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="logB">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto" id="navbarHome">
                <li class="nav-item active">
                    <a class="nav-link" href="/" th:text="#{nav.home}"></a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto" id="navbarRegistration">
                <li class="nav-item active">
                    <a class="nav-link" href="/registration" th:text="#{nav.create-new-account}"></a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto" id="navbarOrder">
                <li class="nav-item active">
                    <a class="nav-link" href="/order" th:text="#{nav.order}"></a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto" id="navbarProduct">
                <li class="nav-item active">
                    <a class="nav-link" href="/new-product" th:text="#{nav.add-product}"></a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto" id="navbarLogin">
                <li class="nav-item active">
                    <a class="nav-link" href="/login" th:text="#{nav.login}"></a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto" id="navbarLogout">
                <li class="nav-item active">
                    <a class="nav-link" href="/logout" th:text="#{nav.logout}"> </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <H2 th:text="#{title.new-order}"></H2>
    <div class="form-order">
        <label for="shipping_address" th:text="#{field.shipping-address}"></label>
        <input class="form-control" type="text" id="shipping_address" th:placeholder="#{field.shipping-address}"/>
        <p id="shipping_address_error" class="text-danger"></p>
        <label for="description" th:text="#{field.description}"></label>
        <input class="form-control" type="text" id="description" th:placeholder="#{field.description}"/>
    </div>
    <p th:text="#{field.select-category}"></p>
    <select id="category_list" style="height: 30px">
        <option th:text="#{field.select-category}"></option>
    </select>
    <p th:text="#{field.select-product}"></p>
    <p id="order_items_error" class="text-danger"></p>
    <select id="product_count" style="width: 60px; height: 30px">
        <option value="5" selected>5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
    </select>
    <table class='table' id="product_list">
        <tr>
            <th scope="col" th:text="#{field.product-name}"></th>
            <th th:text="#{field.product-price}"></th>
            <th th:text="#{field.product-qty}"></th>
            <th></th>
        </tr>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" id="pagination"></ul>
    </nav>

    <p><a class="btn btn-secondary" href="#" role="button" onclick="send_order()"
          th:text="#{button.create-new-order}"></a>
        <a class="btn btn-secondary" href="/order" role="button" th:text="#{button.back}"></a></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>